# General aliases
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"
alias rmrf="rm -rf"

# Extra aliases
alias cft="cloudflared tunnel --url http://localhost:3000"
alias coded="code ."

# Git aliases
alias gi="git init"
alias gs="git status"
alias gd="git diff"
alias gds="git diff --staged"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias gp="git push"
alias gpo="git push origin"
alias gpu="git pull origin"
alias gl="git log"
alias glo="git log --oneline"
alias glog="git log --oneline --graph"
alias gf="git fetch"
alias gr="git remote -v"
alias gcl="git clone"
alias gsit="git stash --include-untracked"
alias gsp="git stash pop"
alias gsl="git stash list"
alias gm="git merge"
alias gcfd="git clean -fd"
alias grb="git rebase"
alias gcp="git cherry-pick"
alias gco="git checkout"
alias gt="git tag"

# pnpm aliases
alias pi="pnpm install"
alias pa="pnpm add"
alias pad="pnpm add -D"
alias pdev="pnpm dev"
alias pbp="pnpm build && pnpm preview"
