[user]
        name = Lance Ross
        email = 102563271+lancerossdev@users.noreply.github.com
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[commit]
    	gpgsign = true
[alias]
        gi = init
        gs = status
        gd = diff
        gds = diff --staged
        ga = add
        gb = branch
        gc = commit
        gcm = commit -m
        gca = commit --amend
        gp = push
        gpo = push origin
        gpu = pull origin
        gl = log
        glo = log --oneline
        glog = log --oneline --graph
        gf = fetch
        gr = remote -v
        gcl = clone
        gsit = stash --include-untracked
        gsp = stash pop
        gsl = stash list
        gm = merge
        gcfd = clean -fd
        grb = rebase
        gcp = cherry-pick
        gco = checkout
        gt = tag
[init]